# Getting Started with Pandas

In [ ]:
# please run this cell if the packages haven't been installed
!pip install numpy
!pip install pandas
!pip install matplotlib

In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## What is Pandas?

* An open-source library that provides high-performance data manipulation in Python. 
* Pandas is built on top of the NumPy package, which means Numpy is required for operating the Pandas. 
* Get its name from the word <b>Panel Data</b>, which means <b>an Econometrics from Multidimensional data</b>. It is used for * * Developed by Wes McKinney in 2008.

## Comparison between Numpy and Pandas

| <!-- --> | <!-- --> | <!-- --> |
| --- | --- | --- |
| <b>Basis for Comparison</b> | <b>Pandas</b>                | <b>NumPy</b>                |
| <b>Works with</b>           | tabular data                 | numerical data              |
| <b>Powerful Tools</b>       | Series, DataFrame etc.       | Arrays                      |
| <b>Organizational usage</b> | Instacart, SendGrid, Sighten | SweepSouth                  |
| <b>Performance</b>          | Better for 500K rows or more | Better for 50K rows or less |
| <b>Memory Utilization</b>   | Consumes more memory         | consumes less memory        |
| <b>Objects</b>              | DataFrame                    | multi-dimensional array     |

In [15]:
import pandas as pd
from pandas import Series, DataFrame

ModuleNotFoundError: No module named 'pandas'

In [ ]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Introduction to pandas Data Structures

### Series

In [10]:
obj = pd.Series([4, 7, -5, 3])
obj

NameError: name 'pd' is not defined

In [ ]:
obj.values
obj.index  # like range(4)

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2
obj2.index

In [ ]:
obj2
obj2['a']
obj2['d'] = 6
obj2[['c', 'a', 'd']]

In [ ]:
obj2
obj2[obj2 > 0]
obj2 * 2
np.exp(obj2)

In [ ]:
obj2
'b' in obj2
'e' in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)
pd.notnull(obj4)

In [ ]:
obj4
obj4.isnull()

In [ ]:
obj3
obj4
obj3 + obj4

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
obj
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

### <span style="color:red">Exercise1:</span> From Series to Excel 
Here is the data about Marvel superheros:

| Hero | Age |
| :------------- | :-----|
| ironman         | 46 |
| captainamerica  | 99 |
| blackwidow      | 37 |
| thor            | 430 |
| hulk            | 42 |
| spiderman       | 15 |
| blackpanther    | 39 |

1. Create a Series called `hero_age` to print the data.

```python
ironman            46
captainamerica     99
blackwidow         37
thor              430
hulk               42
spiderman          15
blackpanther       39
dtype: int64
```
2. Give the title "Hero" and "Age" to the index and the data columns respectively.        
3. Mark the status "juvenile" to the hero whose age is under 18 as the result:

```python
Hero
ironman                 46
captainamerica          99
blackwidow              37
thor                   430
hulk                    42
spiderman         juvenile
blackpanther            39
Name: Age, dtype: object
```

4. Run `hero_age.to_excel("hero_age.xlsx")`, and find the excel file in your folder.

In [ ]:
# Exercise1 (1)

#Write your code here

print(hero_age)

In [ ]:
# Exercise1 (2)

#Write your code here

print(hero_age)

In [ ]:
# Exercise1 (3)

#Write your code here

print(hero_age)

In [ ]:
# Exercise1 (4)
hero_age.to_excel("hero_age.xlsx")

### DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
frame.head() # DataFrame.head(n=5): Return the first n rows

In [ ]:
data
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2
frame2.columns

In [ ]:
frame2['state']
frame2.year

In [ ]:
frame2
frame2.loc['three']

In [ ]:
frame2['debt'] = 16.5
frame2
frame2['debt'] = np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
val

In [ ]:
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
pop
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
frame3
frame3['Ohio'][:-1]
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

In [ ]:
frame3.values

In [ ]:
frame2
frame2.values

### Index Objects

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index
index[1:]

In [ ]:
index[1] = 'd'  # TypeError: Index does not support mutable operations

In [ ]:
labels = pd.Index(np.arange(3))
labels
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2
obj2.index is labels

In [ ]:
labels2 = pd.Index(np.arange(3))
obj2.index is labels2

In [ ]:
frame3
frame3.Ohio    # Content in "Ohio" column
frame3.columns # All column names
'Ohio' in frame3.columns
2003 in frame3.index

In [ ]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

In [ ]:
obj3 = pd.Series([1, -2, 3, -4], index=dup_labels)
obj3
obj3['foo']

In [ ]:
obj3['foo'] = 0
obj3

### <span style="color:red">Exercise2:</span> From Excel to Dataframe

(1) Create a Dataframe called `hero_info` by running `pd.read_excel('hero_age.xlsx')` ('hero_age.xlsx' is generated in Exercise1). Add an extra column called `Weapon` to `hero_info`:

| Hero | Weapon |
| :------------- | :-----|
| ironman         | armor |
| captainamerica  | shield |
| blackwidow      | taser |
| thor            | hammer |
| hulk            | himself |
| spiderman       | web |
| blackpanther    | claws |

(2) Add an extra column called `Younger_than_50` to record the age status of first 5 hears as the result:
```python
             Hero  Age   Weapon  Younger_than_50
0         ironman   46    armor             True
1  captainamerica   99   shield            False
2      blackwidow   37    taser             True
3            thor  430   hammer            False
4            hulk   42  himself             True
```

In [ ]:
#Exercise2 (1)

#Write your code here

hero_info

In [ ]:
#Exercise2 (2)

first5_hero = hero_info.head(5).copy() 
#Write your code here

first5_hero

## Essential Functionality

### Reindexing

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3
obj3.reindex(range(6), method='ffill') # ffill: Propagate last valid observation forward to next valid.

In [ ]:
np.arange(9).reshape((3, 3))
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

In [ ]:
frame
frame.reindex(index=['a', 'b', 'c', 'd'])

### Dropping Entries from an Axis

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj
new_obj = obj.drop('c')
new_obj
obj.drop(['d', 'c'])

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
# DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
data.drop(['Colorado', 'Ohio']) # axis = 0 or ‘index’ (default): Drop labels from the index
data.drop('two', axis=1)        # axis = 1 or ‘columns’        : Drop labels from the columns
data.drop(['two', 'four'], axis='columns')

In [ ]:
obj
obj.drop('c', inplace=True) # If inplace = False, return a copy. Otherwise, do operation inplace and return None.
obj

### Indexing, Selection, and Filtering

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj
obj['b']
obj[1]
obj[2:4]

In [ ]:
obj[['b', 'a', 'd']]
obj[[1, 3]]
obj[obj < 2]

In [ ]:
obj
obj['b':'c']
obj[1:2]

In [ ]:
obj['b':'c'] = 5
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data
data['two']
data[['three', 'one']]

In [ ]:
data
data[:2]
data[data['three'] > 5]

In [ ]:
data < 5
data[data < 5] = 0
data

#### Selection with loc and iloc

In [ ]:
data
data.loc['Colorado', ['two', 'three']]

In [ ]:
# DataFrame.iloc: Purely integer-location based indexing for selection by position.
data.iloc[2, [3, 0, 1]]
data.iloc[2]
data.iloc[[1, 2], [3, 0, 1]]

In [ ]:
data
data.loc[:'Utah', 'two']
data.iloc[:, :3][data.three > 5]

### Integer Indexes

In [ ]:
ser = pd.Series(np.arange(3.))
ser

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

In [ ]:
ser[:1]
ser.loc[:1]
ser.iloc[:1]

### Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])
s1
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df1
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
df1
df2
df1 - df2

#### Arithmetic methods with fill values

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))
df2.loc[1, 'b'] = np.nan
df1
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
1 / df1
df1.rdiv(1)

In [ ]:
df1
df2
df1.reindex(columns=df2.columns, fill_value=0)

#### Operations between DataFrame and Series

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr
arr[0]
arr - arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame
series = frame.iloc[0]
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
frame
series2
frame + series2

In [ ]:
series3 = frame['d']
frame
series3
frame.sub(series3, axis='index')

### Function Application and Mapping

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame
np.abs(frame)

### <span style="color:red">Exercise3:</span> Data Extraction

Please create a Dataframe for index = ['a','b','c','d','e','f','g','h'] and columns = ['A', 'B', 'C'] with numpy random data, and print out the data > 0 for each column as the result:

```python
          A         B         C
a -1.562446  1.268706  0.576203
b -0.754498 -0.288468  0.419802
c  0.651027  1.964245 -0.501920
d -0.567756  1.167068 -1.303636
e  0.782789  0.875517  0.238670
f -2.129603 -0.406733 -1.554724
g  0.391051 -1.330523  0.023769
h  0.680942  0.217128 -0.400613

cloumn A
c    0.651027
e    0.782789
g    0.391051
h    0.680942
Name: A, dtype: float64

cloumn B
a    1.268706
c    1.964245
d    1.167068
e    0.875517
h    0.217128
Name: B, dtype: float64

cloumn C
a    0.576203
b    0.419802
e    0.238670
g    0.023769
Name: C, dtype: float64
```

In [ ]:
# Exercise3

In [ ]:
# DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwds): Apply a function along an axis of the DataFrame.
f = lambda x: x.max() - x.min()
frame
frame.apply(f)

In [ ]:
frame.apply(f, axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

In [ ]:
# pandas.DataFrame.applymap(func): Apply a function to a Dataframe elementwise.
format = lambda x: '%.2f' % x
frame
frame.applymap(format)

In [ ]:
frame['e'].map(format)

### Sorting and Ranking

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
frame
frame.sort_index()
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

In [ ]:
# pandas.DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ...
# ignore_index=False, key=None): Sort by the values along either axis.
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a', 'b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj
obj.rank()

In [ ]:
obj
obj.rank(method='first')

In [ ]:
obj
# Assign tie values the maximum rank in the group
obj.rank(ascending=False, method='max')

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
frame
frame.rank(axis='columns')

### Axis Indexes with Duplicate Labels

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']
obj['c']

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df
df.loc['b']

## Summarizing and Computing Descriptive Statistics

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj
obj.describe()

### <span style="color:red">Exercise4:</span> Online data analysis


1. Please create a Dataframe called `zoo` by use of `pd.read_csv()` to load the online data directly ( http://46.101.230.157/datacoding101/zoo.csv ). Then, calculate the total water_need of the animals and the average of water_need.

2. Please use `zoo.groupby(by="animal").sum()` to sum the total water_need and calculate the water_need percentage of each kind of animals.

```python
animal
kangaroo    0.163399
zebra       0.168627
tiger       0.202614
elephant    0.215686
lion        0.249673
Name: water_need, dtype: float64
```

In [ ]:
# Exercise4 (1)

In [ ]:
# Exercise4 (2)

### Correlation and Covariance

conda install pandas-datareader

In [ ]:
price = pd.read_pickle('yahoo_price.pkl')
volume = pd.read_pickle('yahoo_volume.pkl')

In [ ]:
# DataFrame.pct_change(periods=1, fill_method='pad', limit=None, freq=None, **kwargs): 
# Percentage change between the current and a prior element.
price
returns = price.pct_change()
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
volume
returns.corrwith(volume)

### Unique Values, Value Counts, and Membership

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values, sort=False)

In [ ]:
obj
mask = obj.isin(['b', 'c'])
mask
obj[mask]

In [ ]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS