<div style="text-align:center;color:#888888;"><h2> IMP 5004 - Python Programming for Intelligent Medicine </h2></div>
<div style="text-align:center;"><h1> Final Exam (110-1) - Solution </h1></div>

* Exam date: 2022/01/06 9:10-12:10
* There are 8 questions, 110 points in total.
* Open everything including the Internet. Feel free to import any package you need.
* "Cheating" is basically coordinating with others. So don't do that.
* When you find necessary to raise an exception, please include a meaningful error message to indicate what the source of the error is.

In [23]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [24]:
from IPython.display import Image
%matplotlib inline

In [25]:
import numpy as np
import os
import pandas as pd

In [26]:
df = pd.read_csv("data/iris.csv", index_col=False)

### <span style="color:red">Question 1:</span> Dataframe setting column name (5 pts)

Please read the file `iris_data.npy` into a data frame, with the names of the columns being *sepallength*, *sepalwidth*, *petallength*, *petalwidth*, *species*, respectively.

<span style="color:green"> <b>Examples:</b></span>
```python
df = Q1('iris_data.npy')
df.head()
```
Should result in
<img src="img/iris_dataframe_raw.png" style="height: 150px; "/>

In [158]:
# Please write your code here. Remember to remove the pass statement.
def Q1(df):
    df = pd.read_csv("data/Q1.csv")
    return df

In [159]:
# This cell will not be graded. Feel free to alter at your wish.
df = pd.read_csv("data/Q1.csv")
df = Q1(df)
df.head()

   sepallength  sepalwidth  petallength  petalwidth      species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [160]:
df = pd.read_csv("data/Q1.csv")
df.head()

   sepallength  sepalwidth  petallength  petalwidth      species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

### <span style="color:red">Question 2:</span> Show data summary (10 pts)

Print out information including
* count
* mean
* std (standard deviation)
* min
* The 12.5th, 25th, 50th, 75th, 87.5th percentiles
* max

for all the features (sepallength, sepalwidth, petallength, petalwidth) in iris dataset.

(Percentile definition: https://en.wikipedia.org/wiki/Percentile)

<span style="color:green"> <b>Reference Output:</b></span>
<img src="img/iris_summary.png" style="height: 250px; "/>

In [63]:
# Please write your code here
ans = df.describe()
new_125 = pd.DataFrame({'sepallength':df.quantile(q=0.125)[0],
                        'sepalwidth':df.quantile(q=0.125)[1],
                        'petallength':df.quantile(q=0.125)[2],
                        'petalwidth':df.quantile(q=0.125)[3]},
                        index=['12.5%'])
new_875 = pd.DataFrame({'sepallength':df.quantile(q=0.875)[0],
                        'sepalwidth':df.quantile(q=0.875)[1],
                        'petallength':df.quantile(q=0.875)[2],
                        'petalwidth':df.quantile(q=0.875)[3]},
                        index=['87.5%'])

pd_arr1 = ans[:4]
pd_arr2 = ans[4:]
pd_arr1 = pd_arr1.append(new_125)
pd_arr1 = pd_arr1.append(pd_arr2)

pd_arr3 = ans[:7]
pd_arr4 = ans[7:]
pd_arr3 = pd_arr3.append(new_875)
pd_arr3 = pd_arr3.append(pd_arr4)
pd_arr3

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
87.5%     6.800000    3.500000     5.637500    2.100000
max       7.900000    4.400000     6.900000    2.500000

### <span style="color:red">Question 3:</span> Filter a dataframe with multiple conditions (10 pts)
Filter the rows that has *sepalwidth* > 2.1 and *petallength* < 1.4.

<span style="color:green"> <b>Reference Output:</b></span>
<img src="img/row_selection.png" style="height: 250px; "/>

In [71]:
# Please write your code here
filt = (df['sepalwidth']>2.1) & (df['petallength']<1.4)
df.loc[filt]

    sepallength  sepalwidth  petallength  petalwidth      species
2           4.7         3.2          1.3         0.2  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
38          4.4         3.0          1.3         0.2  Iris-setosa
40          5.0         3.5          1.3         0.3  Iris-setosa
41          4.5         2.3          1.3         0.3  Iris-setosa
42          4.4         3.2          1.3         0.2  Iris-setosa

### <span style="color:red">Question 4:</span> Find correlations between features (10 pts)

Find the correlation between *sepalwidth* and *petallength*.

<span style="color:green"> <b>Reference Output:</b></span>
```python
-0.42051609640115445
```

In [73]:
# Please write your code here
r = np.corrcoef(df['sepalwidth'], df['petallength'])
r[0][1]

-0.42051609640115445

### <span style="color:red">Question 5:</span> Logistic regression (15 pts)

Fit a linear regression function that predicts *petallength* from *sepallength*	and *petalwidth*.  The regression function takes the form

$$y = w_0 x_0 + w_1 x_1 + b$$

where $x_0$ is the *sepallength* and $x_1$ is the *petalwidth*, and $y$ is the estimated *petallength*.  Report $w_0$, $w_1$, $b$, as well as the $R^2$-value.

<span style="color:green"> <b>Examples:</b></span>
```python
R_sqr, w, b = Q5()
print(f'y = {w[0]:.3f} x0 + {w[1]:.3f} x1 + {b:.3f}')
print(f'R square = {R_sqr:.3f}')
```
Should result in
```python
y = 0.543 x0 + 1.744 x1 + -1.502
R square = 0.948
```

In [101]:
# Please write your code here. Remember to remove the pass statement.
def Q5():
    from sklearn.linear_model import LinearRegression
    iris_df = df[['petallength','sepallength','petalwidth']]

    X= iris_df.drop(labels= 'petallength', axis= 1)
    y= iris_df['petallength']

    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state= 1)

    lr = LinearRegression()
    lr.fit(X_train, y_train)

    lr.predict(X_test)
    pred = lr.predict(X_test)
    
    from sklearn.metrics import r2_score
    r_sqr = r2_score(y_test, pred)
    w = lr.coef_
    b = lr.intercept_
    
    return r_sqr, w, b

In [102]:
# This cell will not be graded. Feel free to alter at your wish.
R_sqr, w, b = Q5()
print(f'y = {w[0]:.3f} x0 + {w[1]:.3f} x1 + {b:.3f}')
print(f'R square = {R_sqr:.3f}')

y = 0.619 x0 + 1.648 x1 + -1.811
R square = 0.926

### <span style="color:red">Question 6:</span> Asymetric random matrix (15 pts)
Write a function `asymRandomMtx(n)` that returns a $n \times n$ numpy array which is a random anti-symmetric matrix. (That is, $a_{ij}=-a_{ji}$ where $a_{kl}$ denotes the element at the $k$-th row and $l$-th column)

<span style="color:green"> <b>Examples:</b></span>
```python
asymRandomMtx(4)
```
A possible answer might be
```python
array([[ 0,  1,  0, -1],
       [-1,  0,  0,  1],
       [ 0,  0,  0, -1],
       [ 1, -1,  1,  0]])
```

In [179]:
# Please write your code here. Remember to remove the pass statement.
def asymRandomMtx(n):
    import random
    array2D = [[round(random.random(),5) for _ in range(n)] for _ in range(n)]
    for i in range(n):
        for j in range(n):
            if i==j:
                array2D[i][j] = 0
            if i<j:
                array2D[i][j] = -array2D[j][i]
    return array2D

In [182]:
# This cell will not be graded. Feel free to alter at your wish.
np.random.seed(12345)
asymRandomMtx(4)

[[0, -0.34091, -0.95226, -0.38928],
 [0.34091, 0, -0.22483, -0.43204],
 [0.95226, 0.22483, 0, -0.91427],
 [0.38928, 0.43204, 0.91427, 0]]

### <span style="color:red">Question 7:</span> Solving system of linear equations (20 pts)

Solve $x_1$, $x_2$, $x_3$ that satisfy the following system of equations:
$$\left[\begin{array}{cc}  0.9344 & 0.0958\\ 0.0958 & 0.8599 \end{array}\right]^{10}
 \left[\begin{array}{c} -1.1916 x_1 + 0.1397 x_2 -1.8054 x_3\\ -0.8549 x_1 + 0.03040 x_2 -0.9211 x_3\end{array}\right]
= \left[\begin{array}{c}  1.9890 \\ 1.3183 \end{array}\right]$$

$$1.1441 x_1 -0.1975 x_2 + 0.2262 x_3 = 0.3270$$

- Hint: `numpy.concatenate`.

<span style="color:green"> <b>Examples:</b></span>
```python
x = Q6()
print(f'x1 = {x[0]:.4f}, x2 = {x[1]:.4f}, x3 = {x[2]:.4f}')
```

Should result in
```python
x1 = 0.3861, x2 = -1.1920, x3 = -1.5478
```

In [154]:
# Please write your code here. Remember to remove the pass statement.
def Q7():
    A = [[0.9344, 0.0958],[0.0958, 0.8599]]
    A = np.linalg.matrix_power(A, 10)
    B = [[1.9890],[1.3183]]
    X = np.linalg.inv(A).dot(B)
    B_ = [[2.16791043],
          [1.05943076],
          [0.3270]]
    A_ = [[-1.1916,0.1397,-1.8054],
          [-0.8549,0.03040,-0.9211],
          [1.1441,-0.1975,0.2262]]
    X_ = np.linalg.solve(A_, B_)
    ans = []
    for i in X_:
        ans.append(i[0])
    return ans

In [155]:
# This cell will not be graded. Feel free to alter at your wish.
x = Q7()
print(f'x1 = {x[0]:.4f}, x2 = {x[1]:.4f}, x3 = {x[2]:.4f}')

x1 = 0.3861, x2 = -1.1920, x3 = -1.5478

### <span style="color:red">Question 8:</span> Three random walkers (25 pts)

*Ada*, *Chris*, *Jill*, *Leon*, and *Wesker* are drunk, and each of them independently performs random walk of `nsteps` steps among a straint line of integer points 

$...,-3,-2,-1,0,1,2,3,...$

Suppose they initially start from various locations, we are interested in knowing who will endup in the right-most position after a fixed steps of random walk. 

Denote integer $X_i^{(t)}$ as the position at which person $i$ stands at time $t$, then for the next time step $t+1$ he/she will take one among the three following actions with equal probability ($1/3$ each):

* Step forward:  $X_i^{(t+1)} = X_i^{(t)}+1$
* Step backward: $X_i^{(t+1)} = X_i^{(t)}-1$
* Not moving:    $X_i^{(t+1)} = X_i^{(t)}$

Write a function `drunk_race(offset, nwalks, nsteps)` that simulates `nwalks` trials, where in each trial each person $i$ starts from $X_i^{(0)}=$ `offset[i]` and independently performs the aforementioned random walk for $T=$ `nsteps` steps. The output will be a pandas series indicating, for each person $i$, how many times among those `nwalks` trials does he/she end up at the right most position (i.e., $X_i^{(T)} = \max_j X_j^{(T)}$) after random walk.

<span style="color:green"> <b>Examples:</b></span>
```python
nwalks = 5000
nsteps = 1000
players = ['Chris','Jill','Leon','Wesker','Ada']
offset = pd.Series([0,10,20,30,40], index = players)

wins = drunk_race(offset, nwalks, nsteps)
print(f'Among {nwalks} trials of {nsteps}-step random walks:')
for player in players:
    print(f'{player:10s} starts at {offset[player]:3d} and ends up at the right-most in {wins[player]:5d} trials ({100*wins[player]/nwalks:2.2f} %)')
```
Might result in
```python
Among 5000 trials of 1000-step random walks:
Chris      starts at   0 and ends up at the right-most in   204 trials (4.08 %)
Jill       starts at  10 and ends up at the right-most in   431 trials (8.62 %)
Leon       starts at  20 and ends up at the right-most in   777 trials (15.54 %)
Wesker     starts at  30 and ends up at the right-most in  1394 trials (27.88 %)
Ada        starts at  40 and ends up at the right-most in  2285 trials (45.70 %)
```

* Due to randomness the percentages may fluctuate a little bit.
* Due to the occasional ties (two or more people ending up at the same rightmost position), the percentages may total over 100%.

In [232]:
# Please write your code here. Remember to remove the pass statement.
def drunk_race(offset, nwalks = 5000, nsteps = 1000):
    np.random.seed(12345)
    max_time = list(0 for i in range(len(offset)))
    times = list(0 for i in range(len(offset)))

    for person in range(len(offset)):
        max_ = offset[person] # 目前最大值
        for i in range(nwalks):
            for j in range(nsteps):
                n = random.randint(0,2) #隨機生成0~2的整數
                if n == 0: #向後退
                    new = offset[person]-1
                elif n == 1: #不動
                    new = offset[person]
                else: #向前走
                    new = offset[person]+1
            
                if new > max_:
                    max_ = new
                    max_time[person] = i
                    times[person]+=1
    
    result = pd.Series(max_time, index = players)
    print(result)
    return (result)

In [234]:
# This cell will not be graded. Feel free to alter at your wish.
np.random.seed(12345)
nwalks = 500
nsteps = 1
players = ['Chris','Jill','Leon','Wesker','Ada']
offset = pd.Series([0,10,20,30,40], index = players)

wins = drunk_race(offset, nwalks, nsteps)
print(f'Among {nwalks} trials of {nsteps}-step random walks:')
for player in players:
    print(f'{player:10s} starts at {offset[player]:3d} and ends up at the right-most in {wins[player]:5d} trials ({100*wins[player]/nwalks:2.2f} %)')

Chris     2
Jill      1
Leon      4
Wesker    3
Ada       4
dtype: int64
Among 500 trials of 1-step random walks:
Chris      starts at   0 and ends up at the right-most in     2 trials (0.40 %)
Jill       starts at  10 and ends up at the right-most in     1 trials (0.20 %)
Leon       starts at  20 and ends up at the right-most in     4 trials (0.80 %)
Wesker     starts at  30 and ends up at the right-most in     3 trials (0.60 %)
Ada        starts at  40 and ends up at the right-most in     4 trials (0.80 %)